<h2>Prueba de API</h2>

<button (click)="testLogin()">Iniciar sesión</button>
<button (click)="testGetStyles()">Obtener estilos</button>
<button (click)="testGetFontStyles()">Obtener fuentes</button>
<button (click)="testCreateStyles()">Crear estilo</button>
<button (click)="testCreateFontStyles()">Crear fuente</button>
<button (click)="testDeleteColor()">Eliminar color</button>
<button (click)="testDeleteFont()">Eliminar fuente</button>
<button (click)="testUpdateColor()">Actualizar color</button>
<button (click)="testUpdateFont()">Actualizar fuente</button>

<pre>{{ result | json }}</pre>
